/* public/styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
 
}
 
.main{
    height: 100vh;
    /* background-color: #004080; */

}
.container{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    padding-top: 20vh;
}

#chat-container {
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    /* max-width: 100%; */
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 35vw;
}

#chat-display {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px;
    background-color: #f9f9f9;
}
#user-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#send-button {
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
}

#send-button:hover {
    background-color: #004080;
    transform: scale(1.02);
}

#send-button:active {
    transform: scale(0.98);
}

/* New styles for user and bot messages */
.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.user-message {
    color: #fff;
    background-color: #007bff;
    border-radius: 12px;
    padding: 10px;
    text-align: left;
    max-width: 70%;
}

.bot-message {
    margin-left: 10px;
    text-align: left;
    
}

/* Add new style for the message content */
.message-content {
    display: inline-block;
    word-wrap: break-word;
    margin-bottom: 10px; /* Add some space between messages */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header{
    background-color: #0056b3;
    height: 50px;
    padding-top: 20px;
}

ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 2em;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}