.log{
    position: absolute;
    top: 30px;
    left: 500px;
    height: 350px;
    width: 300px;
    border: 2px blue solid;
    padding-top: 40px;
    padding-left:15px ;
}

input{
    width: 270px;
    color: blue;
}

button{
    width: 275px;
    background-color: skyblue;
}